[2022-03-17 02:02] mikeando opened #71 "Write a README for `cargo-shuttle`"
In the `[Deploying](https://docs.rs/shuttle-service/latest/shuttle_service/#deploying)` section there is a link to `cargo shuttle`
which links to `https://docs.rs/crate/cargo-shuttle/latest`.

That leads to a valid page, but its main content is `cargo-shuttle-0.2.2 is not a library.` which is not particularly welcoming.

[2022-03-17 02:08] mikeando opened #72 "It's not clear from the main page if "open-source" applied to client only, or server code too."
The main docs contain

It's not clear to me if this is tied to publishing on `shuttle.rs` or if the server code is available.
i.e. is `shuttle.rs` just providing hosting and is the default location, or is there a vendor lock-in too.
(Admittedly it looks like this is primarily a wrapper for deploying and managing rocket applications,
so migrating away if necessary shouldn't be tricky).

[2022-03-17 02:10] mikeando opened #73 "Is shuttle tied to Rocket, or are other servers possible?"
The initial paragarph doesn't mention Rocket, but all the examples use it, and it is not clear if we can use another server architecture.
Even if it is not yet supported, but is intended to be supported, it would be good to hear about it.

[2022-03-17 02:18] mikeando opened #74 "docs: communicate the shuttle build process"
At the moment there seems to be a lot of magic in the process.
Magic is good, but it can be disconcerting for large/serious users.
IMO it is important to understand a bit about what shuttle is doing with your code.
Of course, this could be found out by digging through the code,  but it's probably
better to have this available up-front.

I'd like to see answers to questions like:

Is the code being

[2022-03-19 09:18] brokad opened #81 "Document self-deployments"
The entire platform, client and server code, is open-source and its code is in this repo. However, self-deployment is not documented anywhere so it makes it hard for someone to implement self-deployments by themselves without requiring help from Discord.

### What we can do
Document, as a "getting started" step in the `shuttle-service` crate and in the `README.md` here, that self-deployment is an

[2022-03-19 09:19] brokad opened #82 "Use a `tokio::main` style proc-macro instead of `declare_service`"
If I want to deploy a service, I need to use [declare_service!](https://docs.rs/shuttle-service/latest/shuttle_service/macro.declare_service.html). An example usage is:

[code]

It would be clearer and reduce redundancy if, instead, it looked like this:

[code]

(thanks @finnbear for the idea and the example snippet above!)

[2022-03-19 09:20] brokad opened #83 "Support axum"
axum is a great modular web framework which has many benefits over other frameworks. And even though anybody can deploy an axum service by implementing [IntoService](https://docs.rs/shuttle-service/latest/shuttle_service/trait.IntoService.html) in custom code, it would be a nicer experience to have first-class support ([like we do for Rocket](https://docs.rs/shuttle-service/latest/shuttle_service/

[2022-03-19 09:20] brokad opened #84 "WebSocket support"

[2022-03-19 09:20] brokad opened #85 "Secrets"
There is no way currently to deploy a service which requires a secret or other private deployment variables (like a third-party API key or custom private keys), short of embedding it in the compiled code with something like a static.

It'd be nice to have the ability to add deployment variables to `Shuttle.toml` (or a `Secrets.toml` for private stuff?) which will then be provided at runtime to the

[2022-03-19 09:20] brokad opened #86 "Object persistence from annotations"
Currently the only form of persistence across runs of a service is an (optional) database accessible via [Factory](https://docs.rs/shuttle-service/0.2.4/shuttle_service/trait.Factory.html).

Maybe we could allow users to "persist" a serializable/deserializable object across runs with a simple derive annotation

[code]

[2022-03-19 09:20] brokad opened #87 "Create a GitHub action"

[2022-03-19 09:20] brokad opened #88 "Customizable Host headers"
Currently the deployment router at the edge will use the value of the `Host:` header to decide where to route requests and by default will only accept `my-project-name.shuttleapp.rs`. This is not ideal for self-deployments which are not deployed as a subdomain of `shuttleapp.rs`.

We could expose a parameter in `Shuttle.toml` which lets users configure a `Host` key for their deployment.

[2022-03-19 09:37] brokad commented on #72
That's a very good point!

Yes, it is all open-source, client *and* server code.

Actually, the whole platform is self-deployable in exactly the same way we deploy it in the "hosted" version on [shuttle.rs](https://shuttle.rs), though this is not documented. I've [added an issue for this](#81).

On the topic of lock-in, you're right there is none! All that is required is that your code implements

[2022-03-19 09:39] brokad commented on #73
Indeed! We chose Rocket as a first supported target because we were familiar with it. The key is the [IntoService](https://docs.rs/shuttle-service/0.2.4/shuttle_service/trait.IntoService.html) trait, not the web framework specifically.

We're already working on implementing support for axum #83!

[2022-03-19 09:43] brokad commented on #71
I agree. We should link to GH with a `README.md` for the [cargo-shuttle](https://github.com/getsynth/shuttle/tree/main/cargo-shuttle) crate instead.

[2022-03-23 02:19] rimutaka opened #98 "Add rustfmt.toml"
My VSCode kept re-formatting the code on Ctrl+Shift+I creating huge diffs. All contributors should share the same formatting rules.

See https://rust-lang.github.io/rustfmt/

The alternative is to accept that the diffs will contain formatting changes potentially reverting back and forth depending on who's got what version of `rustfmt` installed.

[2022-03-23 03:31] rimutaka opened #100 "feature: feature-gate OpenSSL dependency"
`sqlx` has a dependency on `native-tls`. Not every environment has OpenSSL and whatever the Win equivalent is. `rustls` is more interoperable.

[code]

https://github.com/getsynth/shuttle/blob/main/api/Cargo.toml#L19 explicitly states
[code]
which may be for a good reason.

**Consider using `runtime-tokio-rustls` instead**

[2022-03-24 17:28] omac777 opened #103 "feature: support tide web framework"
As it stands you seem to have one example to do with rocket.

How about another example to support tide web infrastructure.
This link is tide/tls/bootstrap/structsy example:
https://gist.github.com/omac777/dc8dbd9b4fe574e7e01ad6bf9a8ee9d7
I would love to see how you would integrate it within shuttle.rs

Thank you in advance.

[2022-03-25 00:51] rimutaka opened #104 "Remove Cargo.lock from repo"
Is there a reason why Cargo.lock is included in the repo?

If not, I suggest removing it

[2022-03-25 02:11] rimutaka commented on #104
Moved to discussions.

[2022-03-25 02:11] #104 closed

[2022-03-30 12:03] #82 closed

[2022-03-30 15:03] #83 closed

[2022-04-04 12:39] chesedo commented on #98
We seem to have fixed this on #41 and then applied it to all the code in #107.

However I get a bunch of the following types of lines on `main`:
[code]

@brokad will we close this issue after taking care of the warnings?

[2022-04-04 12:40] chesedo commented on #98
An example of the warnings on our CI

https://github.com/getsynth/shuttle/runs/5814293026?check_suite_focus=true#step:4:4

[2022-04-05 15:22] christoshadjiaslanis opened #119 "Tide support"

[2022-04-05 15:28] christoshadjiaslanis commented on #103
Hey @omac777  - thanks for the feedback. `shuttle` now supports `axum` as well - and I think there is certainly interest in adding support for `tide` and others.

I've created a public [roadmap item](https://github.com/orgs/getsynth/projects/4/views/2). We'll use this issue to gauge interest in Tide.

For anyone who may be interested in implementing Tide support, I would suggest looking at the [se

[2022-04-05 15:32] christoshadjiaslanis commented on #119
duplicate

[2022-04-05 15:32] #119 closed

[2022-04-05 15:36] christoshadjiaslanis commented on #100
Hey @rimutaka this is a good point. Is this blocking you currently?

I'm going to add it to our
roadmap. We'll use this issue as a general gauge of interest from the community.

[2022-04-05 15:52] christoshadjiaslanis commented on #74
Hey @mikeando - these are great questions.

There certainly needs to be higher quality documentation on the operational aspects of `shuttle` and it's coming soon. There is a point to be made that things are currently changing quite quickly as we are stabilising our core APIs.

I can answer these questions for you and the benefit of others:

Or is the code being shipped there and then compiled?

As

[2022-04-05 15:54] christoshadjiaslanis commented on #73
Axum is done! And Tide is in the roadmap. Closing this issue for now!

[2022-04-05 15:54] #73 closed

[2022-04-06 13:25] christos-h opened #120 "feature: cargo shuttle run"
This is a proposal to be able to run a `shuttle` app locally without needing to deploy.

[2022-04-06 14:43] christos-h opened #121 "feature: support multiple back-ends"
The `shuttle` api currently works exclusively with AWS. All the infrastructure definition is in `terraform` and explicit AWS modules are used.

For portability purposes it would be nice to have multiple back-ends supported:

- [ ] Azure
- [ ] GCP

[2022-04-14 13:21] christoshadjiaslanis opened #133 "feature: support `tower::Service`"
Add shuttle support for `tower::Service`.

[2022-04-14 13:24] christoshadjiaslanis opened #134 "feature: `cargo shuttle logs`"
Currently logs are stored on the server without a user having access to them.

This feature proposes a `cargo shuttle logs` command similar to `heroku logs` and `heroku logs -t` for tailing.

[2022-04-14 13:36] christoshadjiaslanis opened #135 "feature: specify native dependencies to deployment runtime"
Some deployments may require native dependencies such as (e.g. `libtorch`).

There needs to be a mechanism to specify these native dependencies in the project source and them being provided during deployment.

[2022-04-15 10:40] alsuren opened #138 "failing cargo shuttle deploy returns successful exit code"
if I forget to do the lib.crate-type = ["cdylib"] dance, `cargo shuttle deploy` gives me:
[code]
but `cargo-shuttle`'s exit code is still "success" ($? == 0) in this case :-( . This means that bash's && and || chains do the wrong thing. This also means you can't build useful CI pipelines, etc.

_Originally posted by @alsuren in https://github.com/qwandor/dancelist/issues/2#issuecomment-1099906351_

[2022-04-27 11:54] christoshadjiaslanis opened #152 "bug: running `cargo shuttle status` outside a cargo project panics"
The error message looks like this:

[code]

[2022-05-01 02:58] AugustoFKL commented on #87
Any other descriptions?

The action should do what? Since there's already 3 actions that cover CI, CD, and code valitation, there's no way to identify the action needed.

[2022-05-01 03:00] AugustoFKL commented on #152
Sorry to ask, but, is there a expected behavior?

Should it be a cleaner and more reasonable error message? Or some other complex behavior?

[2022-05-02 14:12] christoshadjiaslanis commented on #152
@AugustoFKL good point - I was in a rush when I made this. The description should now be more precise and include expected behaviour.

[2022-05-02 14:13] christoshadjiaslanis commented on #87
Pining @brokad - but I believe the point of this GH action is initially to deploy a shuttle project to shuttle. So basically install `cargo-shuttle` and run `cargo shuttle deploy`.

[2022-05-02 16:46] AugustoFKL commented on #152
@christoshadjiaslanis that's perfect! Actually, since the behavior is stopping the application, I think an expect would be fine.

Will analyse the architecture later to see if we really need to propagate the error, and implement it.

Thanks for the update!

[2022-05-03 16:59] kaleidawave commented on #87
I created a simple action for deploying a site on shuttle

https://github.com/kaleidawave/axum-shuttle-demo/blob/main/.github/workflows/publish.yml

If you remove the `Check source` step it is pretty much ready to go. I also added `| awk '!/Database URI.*?$/'` to the end of the deploy command to remove the database uri because it contains the database password and I think GH actions logs are publi

[2022-05-05 11:05] christoshadjiaslanis commented on #87
Repo is ready -> https://github.com/shuttle-hq/shuttle-deploy-action

[2022-05-08 15:53] alsuren opened #163 "cargo shuttle ignores Shuttle.toml if run in subdir of crate"
The logic to find Cargo.toml works fine, but we don't then use the location of Cargo.toml to search for a Shuttle.toml (and will continue as if it's not there). This means that it will have the wrong project name.

I wrote a test for this in https://github.com/shuttle-hq/shuttle/pull/122 to help when implementing this. See https://github.com/shuttle-hq/shuttle/pull/122#discussion_r866546185_

It's

[2022-05-13 17:51] christos-h opened #169 "feature: run shuttle on Kubernetes"
Shuttle currently runs on AWS via terraform config.

Deploying on Kubernetes would offer non-cloud, cross-cloud and alternative cloud provider support.

[2022-05-13 17:54] christoshadjiaslanis opened #170 "feature: support AWS Aurora"
Have AWS aurora serverless v2 support the same way we support Postgres

[2022-05-13 17:56] christos-h opened #171 "feature: support custom domain"
Currently shuttle apps are automatically provisioned a subdomain, for example 'my-app.shuttleapp.rs'. This feature adds the ability to support user-owned domains, 'my-app.com'.

[2022-05-16 08:08] #98 closed

[2022-05-16 08:51] christoshadjiaslanis opened #175 "feature: cargo shuttle init"
Introduce an `init` function to `cargo-shuttle` that will initialise the barebones of a project (similar to `cargo init`). `cargo shuttle init <name>`

This should probably:
1. Add an `Init(ProjectName)` variant to `Command` in `args.rs`
2. Call `cargo init --lib` via the `cargo` crate
3. Automatically add the `crate-type = ["cdylib"] ` to `cargo.toml`
4. Add the `shuttle-service` deps top `cargo.

[2022-05-16 12:40] christoshadjiaslanis opened #176 "feature: run tests before deploy"
When you run a `cargo shuttle deploy` the cargo workspace is `cargo package`'d and shipped to shuttle's API servers where it's compiled and then deployed.

Ideally we would want a pre-deploy step which runs `cargo test` before the service is deployed (we probably also want a flag to skip this like `cargo shuttle deploy --no-test`).

Open question if we want the tests to run by default or not.

[2022-05-16 12:43] christos-h opened #177 "feature: test / staging environments"
Shuttle only has a production environment right now. Obviously as your developing features you may want to deploy to a temporary testing environment to try out your changes before pushing to production.

This is quite a big one - requires quite a bit of design and changes to infrastructure.

[2022-05-16 13:19] christoshadjiaslanis commented on #152
@AugustoFKL - any updates on this? Need any help?

[2022-05-16 14:05] #85 closed

[2022-05-17 09:34] jmwill86 commented on #176
What's etiquette for issue assignment and merges? Shall I just go ahead and try this issue and put in a merge request when done, or is it best to get it assigned first to stop multiple people working on the issue? I'd be happy to try and tackle this one either way 😄

[2022-05-17 09:57] brokad commented on #176
Thanks @jmwill86 for wanting to give this a try! Let us know here or on Discord if we can help with anything :smile:

[2022-05-17 10:43] #103 closed

[2022-05-18 08:45] NikosEfthias opened #178 "I am really confused about the pricing and where the app is hosted."
The website including the blog does not contain any information about the business side of the things.
Where can one see the pricing and limits info ?

[2022-05-18 09:26] christoshadjiaslanis commented on #178
Hey! Shuttle's completely free while it's in Alpha and we're figuring out the kinks in the platform. There are no imposed limits on the platform right now - but you may hit the limits of the underlying hardware if you have a large workload. I'll be updating the website and README soon to have more detailed information on all this stuff.

Hope this helps!

[2022-05-18 09:44] christos-h opened #179 "feature: support SeaORM"
ORMs offer a layer of abstraction which makes creating business logic a joy in web apps. Shuttle currently has native `sqlx` support but doesn't support any ORMs.

This feature would add SeaORM support and all the wiring required for it to work out of the box with the existing databases.

[2022-05-19 08:43] NikosEfthias commented on #178
thanks that little bit clarifies things.

[2022-05-19 08:43] #178 closed

[2022-05-26 07:02] nahuakang commented on #175
I'd be happy to claim this if no one else is working on it yet and it's not high priority time-wise on shuttle's roadmap :)

[2022-05-26 09:34] brokad commented on #175
Thanks @nahuakang!

Sounds like a plan!

[2022-05-26 15:08] #133 closed

[2022-05-26 17:55] chesedo opened #189 "feature: a static/assets folder"
I want to load some assets like images as well as some static js and css files during runtime. It would be great if shuttle could take a `/static` folder at the root of my project and make it accessible during runtime

[2022-05-27 11:46] christos-h opened #190 "feature: support path dependencies"
`cargo-shuttle` uses `cargo package` under the hood to package project files into a tarball and ship them to the shuttle api for them to be built.

A limitation of `cargo package` is that it will refuse to package path dependencies.

Implementation of this is unclear - some design is required as with the current build system changes to the underlying file-system will probably be required.

[2022-05-30 19:11] IceS2 commented on #189
Hey folks, how are you?
I'd love to take this task and try to tackle it (=

[2022-05-31 07:01] chesedo commented on #189
@IceS2 It's all yours.

@brokad do you have any preferences on this?
So far I'm thinking we can allow only one predefined folder. But I've seen the following being used so far:
- assets
- static
- templates
- public

Or do we allow the users to dynamically choose their folder somehow?

@IceS2 your inputs are welcome if you have any ideas too :smile:

[2022-05-31 09:04] ivancernja commented on #163
I'll take it!

[2022-05-31 09:26] christoshadjiaslanis opened #193 "feature: tailing logs"
`cargo-shuttle` has logging functionality with `cargo shuttle logs` - but this prints the entire log history of a deployment and terminates.

This feature proposes log tailing, where the user can have access to a constant stream (follow basically) of logs from `cargo-shuttle` using `cargo shuttle logs --tail` or `cargo shuttle logs -t`.

[2022-05-31 10:15] jmwill86 commented on #193
I'd be happy to take this one. Is it just a live update of the last X lines of the log @christoshadjiaslanis ?

[2022-05-31 11:30] christoshadjiaslanis opened #195 "feature: `cargo-shuttle` commands should work from subdirectory of project root"
Certain `cargo-shuttle` commands (like `deploy`) don't work if your `PWD` is not the project root.

We would want commands like `cargo shuttle deploy` to work from arbitrary subdirectories of the project root.

[2022-05-31 12:10] ivancernja commented on #195
Taking this one.

[2022-06-01 06:19] #84 closed

[2022-06-01 06:42] chesedo opened #197 "bug: calling `get_secrets` in setup code fails"
Currently calling `get_secrets` works from routes. But calling it in the `#[shuttle_service::main]` causes the secret to not be found.

It seems we are not setting the secrets up early enough.

https://discord.com/channels/803236282088161321/965974106652688394/981436093683613776

[2022-06-08 13:41] #87 closed

[2022-06-08 20:06] ivancernja commented on #152
@christoshadjiaslanis I'll have this fixed under this PR: https://github.com/shuttle-hq/shuttle/pull/203 if you and @AugustoFKL don't mind.

[2022-06-08 20:41] kaleidawave opened #205 "feature: Support actix web as a web framework"
Some mentions of [actix web](https://actix.rs/) [in this thread](https://www.reddit.com/r/rust/comments/v6rfqr/hyper_vs_rocket_low_level_vs_batteries_included/). Would be great to get support at some point!

(should be somewhat simple to implement `Service` for [actix_web::HttpServer](https://docs.rs/actix-web/4.0.1/actix_web/struct.HttpServer.html) )

[2022-06-10 06:34] chesedo commented on #193
Sorry for only seeing this now @jmwill86. This is more of following / streaming the logs as new logs come in.

Are you still up for taking this?

[2022-06-10 08:07] jmwill86 commented on #193
Yeah happy to give it a go. My local setup's been broken and haven't had a lot of time but I'll get working on it asap. 👍

[2022-06-10 10:01] 0xkelvin commented on #120
hi, i am going to take this issue.

[2022-06-13 12:00] chesedo opened #213 "bug: `cargo-shuttle`fails to parse a dependency without a patch version"
Our version checker in `cargo-shuttle` fails to parse a `shuttle-service` version when it is missing a patch like the following definition:

[code]

[2022-06-13 12:01] chesedo commented on #213
The quick fix for now is to specify a full version like

[code]

[2022-06-17 08:47] #163 closed

[2022-06-17 08:47] #195 closed

[2022-06-22 00:20] tv42 commented on #81
Please also add an explicit license. Right now Cargo.toml's say `license = "Apache-2.0"` (https://github.com/shuttle-hq/shuttle/search?q=license) but that isn't good enough for lawyers.

[2022-06-28 11:43] Butch78 commented on #86
I'll give this a go!

[2022-06-30 23:03] jmwill86 opened #233 "docker-buildx / docker-compose builds failing"
The [new changes](https://github.com/shuttle-hq/shuttle/commit/9d289245789fbbeeb8ac171ace71b9245d900a35) for local deployments and local setup are failing for me with some missing ENV variables and provisioner connection problems it seems?

`docker compose -f docker-compose.dev.yml up --build` output:

[code]

There's also a 'No such file or directory' error on build, changing `/usr/local/bin/serv

[2022-07-01 05:46] brokad commented on #233
Have you rebuilt the images [as in the README](https://github.com/shuttle-hq/shuttle#working-on-shuttle) by any chance? It looks like your `provisioner` image is still using `supervisord`, which got removed for images built from this commit.

[2022-07-01 16:15] jmwill86 commented on #233
Yeah I think you're right. Here's my list of images, so the recent/new ones are there but not being used. I'm conscious other users might hit the same problem potentially at some point, even if it might work by deleting the old images? `--pull` and `--no-cache` have no effect, and removing the containers completely didn't help either.

[code]

However... changing `CONTAINER_REGISTRY=public.ecr.aws

[2022-07-04 06:41] jacobsvante opened #236 ""a cdylib was not created""
Following the [Getting Started section in your readme](https://github.com/shuttle-hq/shuttle/blob/036f2ac9f856a789817b6194fb73fb911abb3651/README.md#getting-started) (commit 036f2ac) I get the following output when I run `cargo shuttle deploy`:

[code]

I tried using the cargo-shuttle version from main (commit 036f2ac) but that gives the same error message as above.

[2022-07-04 10:01] chesedo commented on #233
Rather change the `docker-bake.hcl` with the friendly name :smile:

[2022-07-04 10:45] chesedo commented on #236
@jacobsvante thanks for reporting this. PR #212 added a feature were the `cdylib` is no longer explicitly needed. The release for this should be out soon.

In the mean time, adding the following to `Cargo.toml` should fix it:
[code]

[2022-07-04 10:47] jacobsvante commented on #236
@chesedo Okay that makes sense. Looking forward to the release!

[2022-07-05 14:02] #138 closed

[2022-07-06 01:02] Xavientois opened #240 "sqlx version mismatch error"
When I try to call `cargo shuttle run` with the example postgres code from the [docs](https://docs.rs/shuttle-service/latest/shuttle_service/#using-sqlx), I get the following error:

[code]

My dependencies are:
[code]

Changing the `sqlx` version to `0.5` fixes the error, but I wonder what the best approach for avoiding this kind of version mismatch would be.

[2022-07-06 04:00] SonicZentropy opened #241 "Compose.dev.yml uses sometimes-deprecated `extends` feature"
Shuttle's dev.yml attempts to `extend` the base `backend`, but the backend `depends_on` the `provisioner` service.  It seems some versions of Compose no longer allow to `extends` a service that contains a `depends_on`, particularly ones post-3 but prior to the current version.

See the note in Compose's docs: https://docs.docker.com/compose/extends/#extending-services

The version of Compose the i

[2022-07-09 13:37] Xavientois opened #248 "Use clap v3 for command line argument parsing"
Currently, `clap` v3 is used in the `provisioner` crate: https://github.com/shuttle-hq/shuttle/blob/9d289245789fbbeeb8ac171ace71b9245d900a35/provisioner/Cargo.toml#L13 while `structopt` is used in `api` and `cargo-shuttle`: https://github.com/shuttle-hq/shuttle/blob/9d289245789fbbeeb8ac171ace71b9245d900a35/api/Cargo.toml#L28 https://github.com/shuttle-hq/shuttle/blob/a21c45635ccb04a07364c8d5048d80

[2022-07-09 15:51] Xavientois opened #250 "Allow examples to run locally"
When trying to run the Rocket Postgres and URL Shortener examples locally, they fail due to a compilation error:
[code]

I tried to fix it with this PR https://github.com/shuttle-hq/shuttle/pull/249, but when the CI ran, it gave me the following error [here](https://app.circleci.com/pipelines/github/shuttle-hq/shuttle/40/workflows/52a963a8-2783-42fa-b49e-3511b23d4684/jobs/41?invite=true#step-114-3

[2022-07-11 05:27] chesedo commented on #241
Thanks for the headsup @SonicZentropy. This should be closed by #244

[2022-07-11 05:27] #241 closed

[2022-07-11 09:57] chesedo commented on #250
This annotation is for the new release which was finally released this morning :tada:

You should no longer getting this error after updating using:
[code]

Would you mind confirming if the update fixes it?

[2022-07-11 10:00] chesedo commented on #236
@jacobsvante we released a bit earlier today. Can you confirm if a deploy without `cdylib` in `Cargo.toml` works now?

[2022-07-11 14:35] oddgrd commented on #205
Hi! I'd like to work on this one. I will probably need some guidance, but I'll get started and see how I progress first.

[2022-07-11 15:24] Xavientois commented on #250
Just tested and it looks like it's working great now!

It might make sense to link to the example code for the latest released version of `cargo-shuttle` rather than `main`, to avoid similar confusion for first-time users in the future.

[2022-07-11 15:24] #250 closed

[2022-07-11 15:25] Xavientois opened #255 "Link to released example code in website"
On the website, instead of linking to the example code on `main`:

_Originally posted by @Xavientois in https://github.com/shuttle-hq/shuttle/issues/250#issuecomment-1180549336_

[2022-07-11 15:26] Xavientois commented on #248
I am down to work on this if no one else wants to claim it.

[2022-07-12 06:23] chesedo commented on #255
It would be great if the solution also updates our [release script](https://github.com/shuttle-hq/shuttle/blob/main/scripts/release.sh). That way there is no need to manually search and update all our doc entries.

[2022-07-12 06:59] SonicZentropy opened #258 "Windows deploy broken due to Cargo bug"
Windows currently fails to deploy.  The bug is related to [this Cargo meta-issue](https://github.com/rust-lang/cargo/issues/9770).  Cargo is still trying to determine how to fix them properly in general.

I forked Cargo, fixed our instance of the bug by canonicalizing the malformed path, and patched Shuttle with it [here](https://github.com/SonicZentropy/shuttle/tree/fix/windows-cargo-paths) which

[2022-07-12 07:37] chesedo commented on #258
I wonder how cargo gets the absolute path without canonizalizing? Maybe following the same approach in shuttle will fix it for us :man_shrugging:

[2022-07-13 00:54] Xavientois opened #260 "E2E tests fail due to container being marked for removal"
For some of my PRs the CI will run successfully until the E2E test step, where it will fail with the following error:

[code]

[example](https://app.circleci.com/pipelines/github/shuttle-hq/shuttle/62/workflows/46483f8a-ae6c-46e4-bfd5-ab2d7f046a13/jobs/64?invite=true#step-114-198)

I do not know what causes this error, but it makes opening PRs a bit more difficult of a process.

[2022-07-13 10:14] #248 closed

[2022-07-13 13:43] Xavientois commented on #169
We might consider using Helm charts to modularize the IaC if we switch to using Kubernetes

[2022-07-13 22:32] jmwill86 commented on #213
Is there anything I need to do with this to close it @chesedo? I dont think there's anything more to be done.

[2022-07-14 06:34] chesedo commented on #213
@jmwill86 I also don't see anything more to do. Just missed that this can be closed :smile:

[2022-07-14 06:34] #213 closed

[2022-07-14 13:55] jacobsvante opened #261 "Support import of own crate in main.rs"
Thank you for releasing 0.4 which no longer requires `crate-type = ["cdylib"]`, this is great!

Another thing I would like to see is the ability to import the own crate in main.rs, but it seems that one can no longer use `cargo shuttle run` or `cargo shuttle deploy` after doing that.

MRE / Minimal reproducible example:

[code]

The last command gives the following output for me:

[code]

Now why

[2022-07-14 14:13] jacobsvante opened #262 "Support underscore in project name"
To harmonize with crate naming I think Shuttle supporting underscore in the project name as well would be reasonable. After all, underscore is a legal character in a domain name.

MRE:

[code]

Last line gives the following output:
[code]

[2022-07-15 14:31] nahuakang opened #263 "Support `cargo shuttle init --actix-web`"
The `cargo shuttle init` command will support the following flags after #238 is merged:

- `--axum`
- `--rocket`
- `--tide`
- `--tower`

Todo's:

- Per #205, we could add an `--actix-web` flag to `cargo shuttle init`.
- Per #269, we could add an `--poem` flag to `cargo shuttle init`.

Since I worked on `cargo shuttle init`, I'd be happy to patch these 2 flags.

[2022-07-15 14:35] nahuakang commented on #179
Love this issue :) I've made a tiny contribution to `sea-orm` recently and have explored the codebase a bit (currently I have a standing issue on `sea-query` to address on after working on #238). I'm overall quite new with Rust ORMs and haven't used Shuttle a lot but happy to be kept informed on the design discussion in case I can contribute later on.

[2022-07-16 05:56] #175 closed

[2022-07-19 10:37] gzeronet opened #269 "Support feature web-poem"
Just tried add feature web-poem, seems too hard to me in rust.
Hope that can work, thx.
https://github.com/poem-web/poem

BTW, awesome platform, that's what I want.

[2022-07-19 11:58] nahuakang commented on #71
@brokad @christoshadjiaslanis Looking for something to do :) If this is still required, can you let me know what's expected on the `README` (like a short bullet-point outline) and I can draft something?

[2022-07-20 00:54] oddgrd commented on #269
I'd like to work on this. It's similar to the actix integration I'm working on already, but it looks like it will be a bit simpler to implement.

[2022-07-22 07:28] chesedo commented on #71
@nahuakang for anyone installing the cli tool this might still be nice though. A short bullet-point outline with a short description for each sub-command will be great.

Since the cli is not stable yet, I fear a proper documentation will create extra maintenance in the near future.

[2022-07-22 16:07] sunli829 commented on #269
Thank you! 🙂

[2022-07-22 16:22] oddgrd commented on #269
No problem. 🙂 Thank you for poem and async-graphql!

[2022-07-25 06:12] chesedo commented on #71
@nahuakang Yes, please :smile:

[2022-07-25 07:13] chesedo opened #280 "feat: auto register tracing layer"
Currently `log` works transparently for [rocket with shuttle](https://github.com/shuttle-hq/shuttle/blob/4785a54ae4cda967a20425206087d76d11605b90/codegen/src/lib.rs#L158-L160), but other frameworks might need to register a middleware for logs.

We are moving over to tracing in #267. Once the move is done, we should  automatically register the tracing layer for frameworks that need it by [passing t

[2022-07-25 14:43] kaleidawave opened #281 "Add serenity as a service for building Discord bots"
[Serenity](https://github.com/serenity-rs/serenity) is a framework for building [Discord bots](https://discord.com/developers/docs/intro#bots-and-apps). Implementing `Service` for it under a flag would make it possible to host discord bots on Shuttle.

[code]

This should be a simple addition Serenity's client has a simple start function which selects and connects to a free port via web sockets:

[2022-07-25 21:52] atsuzaki commented on #281
Seconding this, would love to see this added!

[2022-07-26 11:35] kaleidawave opened #283 "check_lib_version can panic on deploy without informative message"
The current method uses indexing to pull out the version of `Cargo.toml`. This can panic if the key is not present:

https://github.com/shuttle-hq/shuttle/blob/d4af3674de5f77477eda7febbbd7935add7f1672/cargo-shuttle/src/lib.rs#L257

If the `Cargo.toml` does not have a dependencies table or shuttle-service is not present then this expression panics. It would better to catch these and produce a reada

[2022-07-26 21:15] nahuakang commented on #280
This sounds interesting (I've never done this aspect before). Would it be okay if I claim it (happy to also let it pass to another contributor whom you deem fit, too) :)

[2022-07-27 02:50] gzeronet commented on #269
@oddgrd Thx for all you did. Waiting for the next release.

[2022-07-27 11:15] chesedo commented on #283
I think `shuttle-service = "0.4.0"` should be correct, because that's how I think a user implemented service would specify the shuttle_service dependency.

@kaleidawave sure, you can make the change :smile:

[2022-07-28 07:23] #71 closed

[2022-07-29 02:04] gzeronet commented on #269
It works!!!

[2022-07-29 02:04] #269 closed

[2022-08-01 05:46] chesedo commented on #81
The [documentation in the Terraform module](https://github.com/shuttle-hq/shuttle/tree/main/terraform/modules/shuttle) should be enough to get anyone started for now.

The module will be published to Terraform with proper documentation in the near future :smile:

[2022-08-03 06:26] gzeronet commented on #179
I just add lines here:
[code]
Sea-ORM conn already works in handler fn with param "state: Data<&DatabaseConnection>", tested locally.

[2022-08-03 07:20] nahuakang commented on #179
Nice @gzeronet. Actually what you wrote here reminds me that SeaORM updated [their tutorial](https://www.sea-ql.org/sea-orm-tutorial/ch02-00-integration-with-rocket.html) recently so maybe we could use this SeaORM example that integrates with `rocket` and see how we could turn this example into a shuttle service? This way it's a dummy app that is limited in scope and might be re-usable for testing

[2022-08-03 08:31] chesedo commented on #179
This makes me believe we should be able to create a `shuttle-seaorm` crate once #273 lands, right? The crate will setup "all the wiring" based on the tutorial from @nahuakang's link.

[2022-08-08 17:59] coszio commented on #262
I can take this one

[2022-08-18 12:37] chesedo commented on #280
@nahuakang I've been able to confirm this will be possible if you still want to take this?

[2022-08-18 12:58] chesedo commented on #280
This [tmp commit](https://github.com/shuttle-hq/shuttle/commit/72ad972e32c5fafbdf7b5abc1b6f8b91abfc5071) will be a good starting point for what is needed.

The [poem hello_world example](https://github.com/shuttle-hq/shuttle/commit/72ad972e32c5fafbdf7b5abc1b6f8b91abfc5071#diff-fac52dbacd03c774191a9602d3a0d99c5a7444304506e7486f1ed7e6ce6eef1bR21) is used to prototype the changes that will be needed

[2022-08-18 13:04] nahuakang commented on #280
Still happy to take this if there's no urgent deadline as I can start on this maybe in 7-14 days :)

[2022-08-19 09:04] chesedo commented on #280
Sounds good to me... I guess that means anyone else has about 7 days to claim this if they want it :grin:

[2022-08-22 13:37] Butch78 opened #313 "cargo shuttle init --rocket --hello-world"
When using the init rocket example you'll get the following error:

![image](https://user-images.githubusercontent.com/19205392/185934229-0959dc0c-3f5e-4a56-9b77-d8b8b369ea11.png)

This is due to the wrong dependencies for Rocket being added to the cargo.toml as shown belown:
![image](https://user-images.githubusercontent.com/19205392/185934369-0f9690e9-192c-4f5b-9fc1-1c2c79b82ebe.png)

It should

[2022-08-22 13:40] Butch78 commented on #313
I tried to modify  the GetDependencyVersionFn but I was unable to get it to return the pre_release and when I tried to change the boilerplate code for the rocket to a 0.4.2 version Shuttle was not happy with the lack of main function.

[2022-08-22 13:59] chesedo commented on #313
The fix should be to make [this hard coded false on `get_latest_dependency()`](https://github.com/shuttle-hq/shuttle/blob/3210c6a4e01e11dfcb4e6169e79db3a02390d039/cargo-shuttle/src/init.rs#L428) a function argument and making the argument [true for rocket](https://github.com/shuttle-hq/shuttle/blob/3210c6a4e01e11dfcb4e6169e79db3a02390d039/cargo-shuttle/src/init.rs#L85) somehow :sweat_smile: .

A s

[2022-08-22 14:01] chesedo commented on #313
Fyi, [here the GetDependencyVersionFn pointer is set to get_latest_dependency_version](https://github.com/shuttle-hq/shuttle/blob/3210c6a4e01e11dfcb4e6169e79db3a02390d039/cargo-shuttle/src/init.rs#L367) (which is where the hard coded false of the previous comment appears) :smile:

[2022-08-23 03:47] gzeronet commented on #190
When deploying (rapp is a custom local crate, I just follow sea-orm docs:https://www.sea-ql.org/SeaORM/docs/migration/setting-up-migration/#app-crate ) , it shows:
[code]
Hope the feature works and remove version check, thx.

[2022-08-23 07:39] nahuakang commented on #313
Even more context, we're using: http://killercup.github.io/cargo-edit/cargo_edit/fn.get_latest_dependency.html. @chesedo Should I make a fix here (since I wrote the code)?

[2022-08-23 07:45] chesedo commented on #313
@nahuakang any brave soul can take this :grin: So whoever has the time and claims this one first can have it

[2022-08-23 13:15] coszio commented on #313
I'll take this one! 🔥

[2022-08-25 06:28] #313 closed

[2022-08-26 05:47] chesedo commented on #262
Closes by #299

[2022-08-26 05:47] #262 closed

[2022-08-29 20:22] coszio commented on #280
If it is not too late I'd like to take this, but the tracing migration PR indicates it is still open. Is this still waiting for it?

[2022-08-30 05:26] chesedo commented on #280
@coszio feel free to start on this one.

This one is a bit different from the open PR: this one is about changing the registration from `log` to `tracing` inside the codegen for services deployed with shuttle; the open PR is about changing shuttle itself (ie the code that deploys shuttle services) from `log` to `tracing`

[2022-08-31 11:47] #281 closed

[2022-09-05 22:01] s-d-m opened #328 "regression when moving from cargo-shuttle 0.4.0 to 0.5.1 -> Error 502 bad gateway"
Hi,

I tried to update the cargo-shuttle dependency version from 0.4.0 to 0.5.1 and `cargo shuttle deploy` fails with `error 502 bad gateway`.
I did reinstall cargo-shuttle before trying to redeploy, and also cleaned and recompile too. Running `cargo shuttle run` works.

The project I tried to deploy is available at https://github.com/s-d-m/lilyplayer-web

[2022-09-07 09:26] ho-229 commented on #328
I encountered the same problem

[2022-09-09 07:51] #328 closed

[2022-09-09 12:21] oddgrd opened #333 "Integrate support for Salvo web framework"
Integrate support for [Salvo](https://github.com/salvo-rs/salvo), an easy-to-use Rust backend web-framework.

[2022-09-14 22:54] chrisheib commented on #258
Just following the discord bot example and running into the same problem:

[code]

Unfortunately I can't continue with trying this out until I get a solution for this :(

[2022-09-15 07:27] urtokk commented on #258
@chrisheib I had the same problem and worked around it by using github actions. If that's a possiblity for you

[2022-09-15 13:22] oddgrd commented on #258
Hi @chrisheib ! As urtokk said above, until we find a way to work around this bug in cargo, Windows users can deploy remotely using a GitHub Action.

When deploying certain projects (projects that rely on getting secrets in the `shuttle_service::main` function), the project will have to be deployed twice (only for the first two deploys). If you're deploying via GitHub actions, the easiest thing to

[2022-09-15 23:07] xobs commented on #258
This appears to be due to https://github.com/abonander/mime_guess/issues/78 which is fixed in https://github.com/abonander/mime_guess/pull/79

You might try adding something lie this to your `Cargo.toml` file while waiting for the PR to get merged (note: this is currently untested):

[code]

[2022-09-16 12:10] oddgrd commented on #258
Thanks for this @xobs ! I tested this out on Windows (briefly), and it did indeed fix `cargo shuttle run` for me. Unfortunately for this to work with deployment we need to wait for the fix to be merged in `mime_guess` and incorporated in `serenity`. Shuttle doesn't support git dependencies yet.

Hopefully you can play around with `cargo shuttle run` in the meantime if you are on Windows with this

[2022-09-21 16:50] tguichaoua opened #346 "Deploy in release mode"
When deploying, the app is build in debug mode.

Building in release mode reduce the size of the binaries and the runtime speed.

[2022-09-21 19:17] christoshadjiaslanis commented on #346
Thanks for this - I think it's a great point. I'm taking a look now - I feel if there is going to be an issue in implementation it's going to originate from fighting with the `cargo` crate.

[2022-09-22 14:46] tguichaoua opened #350 "Choose hostname when `cargo shuttle run`"
It could be usefull when debuging to host the server not only on the `localhost` but also on network to allow other devices to send request.
For example [`vite`](https://vitejs.dev/) has a `--host` flag for this.

[code]

[2022-09-24 12:56] tguichaoua commented on #258
@chrisheib, I had the same problem and solved it by running `cargo build` before `cargo shuttle run`.

[2022-09-24 13:45] christoshadjiaslanis commented on #258
So if you don't want to use GH actions - I have a quick and easy workaround using Docker. Haven't tested it on Windows yet but I don't see why it wouldn't work.

First you need to create a `Dockerfile`:

[code]
and then build an image (while in the same directory as the Dockerfile):

`docker build -t cargo-shuttle .`

This will create the image called `cargo-shuttle` - but this will take a while t

[2022-09-26 09:30] tguichaoua opened #352 "`shutte init` : add `publish: false` in cargo.toml"
I suggest adding `publish: false` in the `cargo shuttle init` generated cargo.toml to avoid accidental `cargo deploy`.

[2022-09-28 17:47] trkohler commented on #350
hello! can i take this one as a part of hacktoberfest?

[2022-09-28 19:28] christoshadjiaslanis commented on #352
Do you mean to avoid accidental `cargo publish`?

[2022-09-28 21:39] tguichaoua commented on #352
Yes, my bad.

[2022-09-30 16:14] hmeine opened #367 "cargo-shuttle build error due to missing iconv symbols (MacOS, arm64, MacPorts)"
I am not a rust or cargo expert yet, but I would assume that `cargo install cargo-shuttle` is supposed to work in most cases. However, I am getting build problems due to undefined symbols:
[code]
Some information on my system:
[code]
I can see that `-liconv` appears thrice on the cmdline, and one of the first linker paths specified is `"-L" "/opt/local/lib"`, which is also the location of libiconv

[2022-10-05 10:33] piloer opened #372 "Does Shuttle support crontab?"

[2022-10-05 12:35] hmeine commented on #367
True, I could make it work by temporarily deactivating the libiconv port. Luckily, cargo-shuttle is a static build (this way, against the system libiconv), so I could reactivate the port afterwards and now have a working system again. Thanks a lot for the support!

Now, of course that's not something that you want to tell every interested user.  Hence, I also tried `LIBGIT2_SYS_USE_PKG_CONFIG=1 ca

[2022-10-07 13:23] oddgrd commented on #367
I'm happy to hear it worked out, and thanks for providing so much info in your issue! This particular problem with cargo and macports is quite old now, so I doubt it's going away anytime soon. Maybe we can provide pre-built binaries in the future so users don't have to run  `cargo install`.

If you have any other issues don't hesitate to get in touch! We also have an active community on Discord if

[2022-10-12 10:57] 0xpwnstar commented on #350
/assign I would like to work on this

[2022-10-17 16:36] #352 closed, assigned to nobody

[2022-10-17 18:34] #346 closed

[2022-10-17 22:05] chesedo opened #406 ".gitignore causes `Secrets.toml` not to be archived"
More details can be found in this thread, but basically, adding `Secrets.toml` to `.gitignore` causes the secrets file to not be archived

https://discord.com/channels/803236282088161321/1030516396402151424/1031688024687382590

[2022-10-20 13:07] casperstorm opened #417 "Error deploying workspace with library crate."
I've created a very simple Discord bot with serenity to test Shuttle: https://github.com/casperstorm/discord-bot-einar/tree/workspace-lib-crates.
Running `cargo shuttle run` works just fine:

[code]

However when running `cargo shuttle deploy` i get the following error:

Do i have to do something different with my current structure of the bot? The structure is as follows:

[code]

[2022-10-21 19:10] casperstorm commented on #417
I got a answer from [Shuttle Discord](https://discord.gg/HBan6PGG).

This is something we want to support, but haven't been able to solve yet.

[2022-10-31 09:48] chesedo commented on #406
Fixed in #422

[2022-10-31 09:48] #406 closed

[2022-10-31 09:51] chesedo commented on #260
I know this specific error no longer happens on CI. Closing for now.

[2022-10-31 09:51] #260 closed

[2022-10-31 09:53] #197 closed

[2022-10-31 09:54] chesedo commented on #193
The v0.6.0 added the `--follow` flag

[2022-10-31 09:54] #193 closed

[2022-10-31 09:55] chesedo commented on #350
@0xpwnstar feel free to take it if you are still interested

[2022-10-31 09:57] chesedo commented on #372
Not officially, but it should be possible to add a custom cron service. Docs for creating a custom service should be coming out soon

[2022-10-31 10:00] chesedo commented on #86
This was added with the new [persist resource](https://docs.shuttle.rs/resources/shuttle-persist) in v0.6.0

[2022-10-31 10:00] #86 closed

[2022-10-31 21:47] bcpeinhardt opened #448 "Make a request to a shuttle endpoint with reqwest"
Hello! Whenever I try to make a request to any shuttle endpoint using reqwest, I get the following error:
[code]
Can you help me understand why reqwest is failing to verify the ssl certificate?

[2022-11-01 12:33] brokad commented on #448
Hey there!

I'm not sure. Our TLS termination is handled by AWS load balancers (so is signed by Amazon Root CA). Any chance you're trying this from an environment that is missing some root CAs?

Could you run
[code]
from the same environment (i.e. if running in Docker, do it in the same container, etc)?

[2022-11-01 17:17] bcpeinhardt commented on #448
The curl command works like a charm. I will create a simple example repo duplicating the issue and link it, maybe then we can figure out what I'm doing wrong xD Should take <5 minutes

[2022-11-01 17:27] bcpeinhardt commented on #448
https://github.com/bcpeinhardt/replicate_reqwest_shuttle_issue

Created. The gist is this:

[code]
with error
[code]

[2022-11-01 18:31] bcpeinhardt commented on #448
That is SO much simpler than I thought this would end up being haha, thank you so much for the prompt response!! Very excited for the growth of shuttle c:

[2022-11-01 18:31] #448 closed

[2022-11-01 21:06] bcpeinhardt opened #452 "Support for Yew"
I wanted to try deploying a yew app with shuttle. I set up what I thought would be the natural minimum setup to deploy the yew app on top of an axum backend, but when I deploy it doesn't show up :/ Would someone be able to help me get the basic example working, and then I can add it to the examples for the repo?

https://github.com/bcpeinhardt/yewaxumshuttle

[2022-11-03 18:02] oddgrd commented on #452
Hello again Benjamin! While it is planned, serving static assets isn't supported yet. For reference, here is a thread about this on our discord: https://discord.com/channels/803236282088161321/1020834755035545600. Lately we've been focusing on improving stability and security, but as we get back to adding features this will be high on the list.

[2022-11-03 18:35] bcpeinhardt commented on #452
Thank you!

[2022-11-16 17:31] tsirysndr opened #480 "feature: support PlanetScale"

[2022-11-24 04:30] tsar-boomba opened #489 "feature: Pre-built binaries with releases"
Using Shuttle in ci is currently a pain. It takes about 8 mins to build from source on gh actions runners. I would like to propose pre-built binaries for windows, macOS (x86 + aarch64), and Linux. I could set up an action that runs when a new tag is pushed to the main branch. The main hurdle with this is that the action would also have to produce the release so it can attach the binaries to it. I'

[2022-11-24 09:53] oddgrd commented on #489
Indeed, I feel your pain! We actually have a PR for this now: https://github.com/shuttle-hq/shuttle/pull/483, so pre-built binaries should be available for the next release.

Either way, thank you for offering to do this. If there's anything else you feel is missing, or would like to contribute, feel free to reach out!

[2022-11-24 09:55] tsar-boomba commented on #489
Didn't see that, that's great, I'll close this in favor of that.

[2022-11-24 09:55] #489 closed

[2022-11-28 16:18] brokad opened #492 "`project new` subcommand waits for environment to be ready"
Currently, running `cargo shuttle project new` returns immediately with a prompt stating the project is `creating`.

However, the environment is not ready to be deployed to until `cargo shuttle project status` returns `ready`. Most times this is not a big deal, but under high load, environment creation can take a minute or so, which can be unexpectedly long and create a bad experience as users don

[2022-11-28 16:21] brokad opened #493 "Make `cargo shuttle init` interactive"
Currently, to initialise a project with the right stub for different frameworks, we use `cargo shuttle init` with a set of mutually exclusive options (e.g. `--axum`, `--poem` etc).

We'd like an interactive route into this where `cargo shuttle init` prompts:
- The login flow, if the user is not logged in yet
- The name of the project to be deployed (indicating this will mean the project will be ho

[2022-11-28 16:27] brokad opened #494 "Historical deployment states show incorrectly on recycling project environments"
`cargo shuttle deployment list` shows the historical list of deployments and their states.

If a user runs `project rm` while a deployment is happening, maybe while the deployment is in the `building` state, the build is interrupted (because the environment is destroyed). Upon running `project new` again, the environment is reinitialised. But running `deployment list` will show the interrupted dep

[2022-11-29 06:08] chesedo commented on #480
@tsirysndr can you provide some info and links as to what PlanetScale is? A minimal hello world example would also be great

[2022-11-29 06:14] chesedo commented on #492
Thanks for this @brokad. The prefered solution for this should use websockets rather than a polling model (if possible).

I'm wondering if `project status --follow` won't be more idiomatic?

[2022-11-29 08:07] Procrat commented on #493
I'm happy to help out with this!

Did you still want to keep the non-interactive route around? If so, do we want it to only be triggered when all arguments are specified (inc. name and path)? If not, would there be any point in keeping those parameters?

[2022-11-29 08:24] brokad commented on #492
Sure, I'm fine either way.

[2022-11-29 09:20] brokad commented on #493
I agree. What would be really nice IMO is if any missing option or parameter is prompted and nothing gets prompted if all required parameters are given. That way `cargo shuttle init --name="my-project"` would not prompt for project name but will prompt for a framework choice.

[2022-11-29 10:52] Procrat commented on #493
Thanks for the input! I've made a repo with a toy version of the interactive flow [here](https://github.com/Procrat/cargo-shuttle-init) in case you already wanted to give it a go and give some early feedback.

Just to make sure we're on the same page, the interactive and non-interactive versions behave quite differently here.  Whereas the non-interactive one (as it is now) just performs actions lo

[2022-11-29 12:25] oddgrd commented on #493
No opinion, feel free to use whichever crate fits best!

That is a good point, originally the plan was to have just the boilerplate generation be interactive, so it would have been the same. I think tying it all together would be nice for the user though, like you said, so that `cargo shuttle init` is the only thing they need to know to get started with a hello-world app. Maybe we just continue wi

[2022-11-29 12:41] brokad commented on #493
That's a good point! My two cents on this: we could retrofit the new behavior to the original command and adjust my proposal somewhat.

How about this: the user only needs to be logged in if they desire to create the new project straight away. So maybe in the non-interactive route we add an optional flag to create the project on shuttle (`--new`?). Then, starting the login flow is an implicit acti

[2022-11-29 12:46] oddgrd commented on #493
I checked out your repo now, and I think it looks really good already. Some neat details too, like the api-key being hidden and the dir being set to the name by default, nice!

One point, and this is very subjective, is it better if we clear the terminal between prompts?

[2022-11-29 12:50] #81 closed

[2022-11-29 12:52] guerinoni commented on #492
I will try to implement it :)

[2022-11-29 12:55] brokad opened #496 "Add `--watch` flag to `shuttle run` (auto reload)"
The `cargo shuttle run` command is used to create a local deployment of a project for testing.

On making changes to the code of services, the only way to have the diff rolled out to the local deployment is to exit the run command and restart it.

It'd be nice to have a `--watch` flag added to `shuttle run` so that periodically we poll for a diff in source, and roll out the change without exiting.

[2022-11-29 13:02] brokad opened #497 "Override provisioned resources on local runs"
Running `shuttle run` will start a local postgres container if the service's main has a database parameter.

We'd like a way to override this behavior to let the service connect to an existing (user managed) postgres instance.

I could think of two ways of exposing the choice to the user:

- Adding a parameter annotation specifying the postgres URI, e.g.

[code]

- Adding an entry in `Shuttle.toml

[2022-11-29 13:05] brokad commented on #120
Closing as done, except where in favour of #497 and #496.

[2022-11-29 13:05] #120 closed

[2022-11-29 13:10] Procrat commented on #493
Thanks for taking the time to think about this! That `--new` flag makes perfect sense to me. I'm still happy to do everything in one go.

I don't feel strongly about clearing the terminal or not. Any opinions? At the moment, I didn't because I personally like to see the history of what I did in a terminal, but that's just one person's opinion :smile: